

h1{
  background-color:#7e251c;
  border-radius: red;
  border-top: 2000px
  font-family:sans-serif;;
  font-size: 200%;
  color: white;

}

body{
  background-color:black;
  }




div {



  height: 1100px;
  width: 1000px;
  background-color:gray;
  align-items: center;
  float: right;
  font-style: normal;
  font-weight: bolder;

}


p.one{
  font-family:sans-serif;
  font-size: 125%;
  font-style: normal;
  color: black;
  border-width: thin;
  border-style: outset;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;



  }
p.two{
  font-family:sans-serif;
  font-size: 125%;
  font-style: normal;
  color: black;
  border-width: thin;
  border-style: outset;
  padding-top: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  padding-left: 15px;

}

p.three{
  font-family:sans-serif;
  font-size: 150%;
  font-style: normal;
  color: black;
  border-width: thin;;
  border-style: outset;
}
ul.alpha{
  font-family: monospace;
  font-size: 150%;
  font-style: normal;
  color: black;

}

}
